:root {
  --mdc-header-color: #d9d9d9;
  --mdc-background-color: #f4f4f4;
  --mdc-primary-color: #00ced1;
  --mdc-primary-color-dark: #00aaad;
}

body {
  margin: 0;
  background-color: var(--mdc-background-color);
}

#app-bar {
  background-color: var(--mdc-header-color);
}

#avatar {
  margin-left: 150px;
}

#avatar .mdc-list-item__graphic {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

/* Toolbar */

#toolbar {
  margin-right: 150px;
  color: black;
}

#toolbar .notifications {
  margin-right: 20px;
  color: var(--mdc-theme-text-primary-on-background);
  cursor: pointer;
}

#toolbar .mdc-icon-button {
  margin-left: 8px;
  color: var(--mdc-background-color);
  background-color: #cbcbcb;
  border-radius: 360px;
}

/* Main */

#main-content {
  overflow: auto;
  height: 100%;
}

#main-content .mdc-top-app-bar--fixed-adjust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
  background-color: #ffffff;
}

#main-content .mdc-card {
  width: 100%;
  border-radius: 0;
  -webkit-box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.2),
    3px -1px 7px 0px rgba(0, 0, 0, 0.14), 1px -1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.2),
    3px -1px 7px 0px rgba(0, 0, 0, 0.14), 1px -1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

#side-bar {
  z-index: 0;
  width: calc(100vw / 3);
  background-color: var(--mdc-primary-color);
  color: #ffffff;
}

#main-content .profile {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#main-content .profile-image {
  height: 160px;
  width: 160px;
  border: solid 4px var(--mdc-header-color);
}

#main-content .profile-details {
  margin-left: 16px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--mdc-theme-text-secondary-on-light);
  line-height: 1.8em;
}

#main-content .tab-bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% + 16px);
  margin: 0 -8px;
  height: 52px;
  color: var(--mdc-theme-text-secondary-on-background);
  background-color: var(--mdc-header-color);
}

.tab-bar .tab {
  cursor: pointer;
}

.tab-bar .active.tab {
  color: var(--mdc-theme-text-primary-on-light);
}

#main-content .mdc-layout-grid {
  margin: 0;
  padding: 35px;
}

#main-content .mdc-layout-grid .mdc-layout-grid__cell--align-bottom {
  margin-top: -16px;
}

select {
  width: 100%;
  padding-bottom: 4px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

#main-content .dropdown {
  font-weight: 400;
  color: var(--mdc-theme-text-hint-on-background);
  letter-spacing: 0.15px;
  line-height: 28px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#main-content .mdc-text-field {
  border: none;
  height: 100%;
  height: 30px;
}

#main-content .mdc-text-field__input {
  padding-left: 4px;
}

#main-content .mdc-text-field .mdc-text-field__icon {
  font-size: 16px;
  margin-bottom: -8px;
  color: var(--mdc-theme-text-secondary-on-light);
}

#main-content .header-label {
  margin: 12px 35px 0;
  padding: 4px;
  font-size: 12px;
  color: var(--mdc-theme-text-hint-on-background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.button-group {
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button-group .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#main-content .mdc-buttons .button {
  cursor: pointer;
  padding: 8px 16px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  background-color: var(--mdc-header-color);
  color: var(--mdc-theme-text-hint-on-light);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

/* Side bar */

#side-bar .material-icons {
  font-size: 56px;
  color: #018786;
  margin-top: 32px;
  margin-bottom: 32px;
}

#side-bar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 195px;
  margin: 24px;
}

#side-bar .label {
  padding: 10px 24px;
  margin-bottom: 12px;
  background-color: var(--mdc-primary-color-dark);
  text-align: center;
}

#side-bar .sliders {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#side-bar .mdc-slider .mdc-slider__track-container {
  background-color: var(--mdc-header-color);
  border-radius: 360px;
  height: 8px;
}

#side-bar .mdc-slider .mdc-slider__track {
  background-color: var(--mdc-primary-color-dark);
}

#side-bar .mdc-slider .mdc-slider__thumb-container {
  margin-top: -14px;
  margin-left: -12px;
}

#side-bar .sliders .slider__title {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#side-bar .sliders .range__text {
  margin-bottom: -14px;
  font-size: 12px;
  font-weight: 300;
}

#side-bar .sliders .right-range {
  float: right;
}

#side-bar .relocate {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.relocate .mdc-checkbox .mdc-checkbox__background {
  color: var(--mdc-primary-color-dark);
}

.relocate
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)
  ~ .mdc-checkbox__background {
  border-color: var(--mdc-primary-color-dark);
}

.relocate
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  background-color: transparent;
}

.relocate .mdc-checkbox__checkmark {
  color: rgba(0, 0, 0, 0.42);
}

.relocate label {
  width: 100%;
}

.relocate .dropdown {
  background-color: transparent;
}

.relocate .sidebar-button {
  margin-top: 32px;
  border: none;
  height: 36px;
  width: 100%;
  color: var(--mdc-primary-color);
  background-color: #ffffff;
}

/* Footer */

#footer {
  width: 100%;
  height: 56px;
  background-color: var(--mdc-header-color);
  position: fixed;
  bottom: 0;
  z-index: 99;
}

#footer ul {
  list-style-type: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--mdc-theme-text-primary-on-background);
}

#footer li {
  padding-top: 4px;
  font-size: 14px;
  cursor: pointer;
}

#footer li:not(:first-child)::before {
  padding: 20px;
  content: "•";
  color: white;
}
